{% extends 'base.html' %} 
{%load static%}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Bitco.In</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
        <link rel="stylesheet" href="/static/css/css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/css/animate.css">
        
        <link rel="stylesheet" href="/static/css/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/css/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/static/css/css/magnific-popup.css">
    
        <link rel="stylesheet" href="/static/css/css/aos.css">
    
        <link rel="stylesheet" href="/static/css/css/ionicons.min.css">
        
        <link rel="stylesheet" href="/static/css/css/flaticon.css">
        <link rel="stylesheet" href="/static/css/css/icomoon.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/css/styles.css">
      </head>
      <body style="background-image: url('https://images.squarespace-cdn.com/content/v1/54824bb0e4b05430627a7fa9/1538662719497-9WRY33AI2P0JU7K6IHRN/ke17ZwdGBToddI8pDm48kEPBstToJ1Qv3edJXgzLGbh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmKG2G0GDfe4PUeNojHaZos4fBKKRCgoeReuEWQdsSjYoE7mTlzWlwiz8i3e-0Wrz9/bitcoin.gif?format=2500w'); background-size: cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-7 pl-lg-5 py-5">
                              <span class="subheadin">Bitcoin Investment</span>
                            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Us</h2>
                            <p style="color:black;text-align: center;">Lorem ipsum dolor sit amet, erant aliquip dolorem ius no. Oblique perfecto consectetuer ad has. Ut est docendi maluisset consequat, vidit solum iusto eu pro. At est vitae aliquando, congue commune an duo, esse ludus salutandi at vis. Ius ad case facete. Option prompta intellegat duo ne.

                              Te vim aperiam molestie persequeris, duis verear oportere ei pro. Illum sensibus aliquando ut mei. Pro et equidem invenire. Duo ei mentitum sensibus, eu pro eius mediocrem sadipscing.
                              
                              Eum inermis percipit maiestatis et, eius doctus vim cu. An reque nemore assentior his, mea at munere impetus postulant. Ne reque assum solet quo, iracundia inciderint dissentiunt cu eos, fugit quaeque nam ut. Populo disputando pro no. Te labitur recteque forensibus vim, cu saperet nonumes consequuntur quo. Ad discere dolores definitionem pro. Cu pri corrumpit laboramus.
                              
                              In sed ubique apeirian, natum dignissim te vix. Mea modus eligendi cu, ad ponderum vivendum vim. Eros dicta ocurreret an eos, pro no officiis platonem omittantur. Ne vim modo novum exerci, tempor necessitatibus et vim. Vim cu eius facete referrentur, elitr electram repudiandae mea eu. No vix graeco disputando. Et sed maluisset accusamus.
                              </p>  
                </div>
            </div>
            </div>
      </body>
      <br><br><br>
  <footer align="center" style="background-color:rgba(0,0,0,0.6)">
        <div class="ftco-footer-widget mb-4">
            	<div align="center" class="block-23 mb-3">
	              <ul>
	                <li><span class="material-icons"></span><span class="text">203-00100 Nairobi, KENYA</span></li>
	                <li><a href="#"><span class="	glyphicon glyphicon-earphone"></span>  <span class="text">+254 124 059 783</span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>  <span class="text">arenesmochoma@gmail.com</span></a></li>
                    <li><a href="{% url 'home' %}">HOME</a></li>
	              </ul>
	            </div>
            </div>
  </footer>
</html>
{% endblock %}